:root {
  --body-bg-color: #f9fbe7;
  --green: #afb42b;
  --light-green: #e6ee9c;
  --light-grey: #f9fbe7;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

canvas {
  display: block;
  padding: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--green);
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green);
}

.list {
  height: 70px;
  width: calc(100vw - 300px);
  background-color: var(--green);
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  gap: 15px;
}

.main {
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 300px;
  color: var(--text-color);
}

.area {
  width: calc(100% - 300px);
  height: calc(100% - 70px);
  padding: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: var(--green);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  padding: 15px;
  gap: 15px;
}

.icon:hover {
  background-color: var(--light-green) !important;
  cursor: pointer;
}

.menu-list {
  background-color: var(--green);
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 10px;
}

.button {
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.section {
  background-color: var(--light-green);
  display: none;
  width: 240px;
  padding: 15px;
  font-size: 16px;
  border-radius: 12px;
  transition: all 0.2s;
  justify-content: center;
}


